fastapi
uvicorn
langchain
langchain-openai
langchain-community
neo4j
neo4j-graphrag
boto3
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-multipart
python-dotenv
deepeval
pytest
ruff
black
